<body>

    {{#if message}}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>
    <div class="alert alert-success d-flex align-items-center justify-content-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="30" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div>
            <h3>{{message}}</h3>
            <h4> {{title}} - {{artist}} - {{genre}} - {{album}} </h4>
        </div>
    </div>
    {{/if}}
    <div id="formWrapper">
        <form action="{{endpoint}}" method="{{method}}" class="forms" role="form" name="myForm"
            enctype="application/x-www-form-urlencoded">
            <legend>{{legend}}</legend>
            {{#each formfields}}
            <label for="{{field}}">{{pretty}}</label><br>
            {{#if album}}
            <input type="text" name="{{field}}"><br>
            {{else}}
            <input type="text" name="{{field}}" required><br>
            {{/if}}
            {{/each}}
            <label for="genre">Genres</label><br>
            <select name="genres">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select><br>
            <br>
            <br><button type="submit" id="marginTop" class="btn btn-outline-light">Submit</button>
        </form>

        <img src="https://images.pexels.com/photos/733767/pexels-photo-733767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="">
    </div>
</body>